In [157]:
import pandas as pd

In [158]:
data=pd.read_csv('housing.csv')

In [159]:
data.dtypes

id                 int64
date              object
price              int64
bedrooms           int64
bathrooms        float64
sqft_living        int64
sqft_lot           int64
floors           float64
waterfront         int64
view               int64
condition          int64
grade              int64
sqft_above         int64
sqft_basement      int64
yr_built           int64
yr_renovated       int64
zipcode            int64
lat              float64
long             float64
sqft_living15      int64
sqft_lot15         int64
dtype: object

In [160]:
data.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

In [161]:
data.waterfront.count()

21613

In [162]:
data.waterfront.value_counts()

waterfront
0    21450
1      163
Name: count, dtype: int64

In [163]:
waterfront = data.waterfront[data.waterfront==1]

In [164]:
waterfront

49       1
230      1
246      1
264      1
300      1
        ..
19984    1
20325    1
20767    1
21201    1
21576    1
Name: waterfront, Length: 163, dtype: int64

1.  D 163

In [165]:
max_price = max(data.price)

In [166]:
max_price

7700000

In [167]:
data[data.price==max_price].zipcode

7252    98102
Name: zipcode, dtype: int64

2. 98102

In [168]:
ans=data.grade==10

In [169]:
ans.sum()

1134

3.C 1134

In [170]:
data.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

4. 0

In [171]:
set1 = data[data.id == 9126100861]

In [172]:
set1.waterfront

400    0
Name: waterfront, dtype: int64

5. NO

In [173]:
three_view_count= data.view==3

In [174]:
three_view_count.sum()

510

6. 510

In [175]:
min(data.price)

75000

7. 75000

In [176]:
data[data.price==75000]

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
1149,3421079032,20150217T000000,75000,1,0.0,670,43377,1.0,0,0,...,3,670,0,1966,0,98022,47.2638,-121.906,1160,42882

In [177]:
data[data.price==75000].zipcode

1149    98022
Name: zipcode, dtype: int64

8. 98022

In [178]:
max_area = max(data.sqft_living)

In [179]:
max_area

13540

In [180]:
data.zipcode[data.sqft_living==max_area]

12777    98053
Name: zipcode, dtype: int64

9. 98053

In [183]:
data[data.price==max_price].yr_built

7252    1910
Name: yr_built, dtype: int64

10. 1910

11. All of the above

12.Series data Type

13.Index

14. All of the above

15. Columns

<function increase_quantity at 0x0000019CCD273EC0>

KeyError: 'Price'